@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Departman Detay Sayfası</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" style="color:black; font-size:20px;">
    Departman Adı : @ViewBag.d</li>
</ol>
<table class="table table-hover">
    <tr>
        <th>PERSONEL ID</th>
        <th>ADI</th>
        <th>SOYADI</th>
        <th>GÖRSEL</th>
        <th>SATIŞLAR</th>
    </tr>
    @foreach (var k in Model)
    {
<tr>
    <td>@k.PersonelID</td>
    <td>@k.PersonelAd</td>
    <td>@k.PersonelSoyad</td>
    <td>@k.PersonelGorsel</td>
    <td><a href="/Departman/DepartmanPersonelSatis/@k.PersonelID" class="btn btn-default" style="background-color:chartreuse; color:white;">Satışlar</a></td>
</tr>
    }

</table>

