@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Personeller</h2>
<br />
<table class="table table-striped" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>ADI</th>
        <th>SOYADI</th>
        <th>DEPARTMAN</th>
        <th>GORSEL</th>
        <th>GÜNCELLE</th>
        <th>SATIŞLAR</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.PersonelID</td>
            <td>@k.PersonelAd</td>
            <td>@k.PersonelSoyad</td>
            <td>@k.Departman.DepartmanAd</td>
            <td>@k.PersonelGorsel</td>
            <td><a href="/Personel/PersonelGetir/@k.PersonelID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Departman/DepartmanPersonelSatis/@k.PersonelID" class="btn btn-info">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Personel/PersonelEkle/" class="btn btn-info">Yeni Personel Ekle</a>

