@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model  List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Faturalar</h2>
<br />
<table class="table table-hover" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>SERİ NO</th>
        <th>SIRA NO</th>
        <th>VERGİ DAİRESİ</th>
        <th>TARİH</th>
        <th>SAAT</th>
        <th>TOPLAM</th>
        <th>TESLİM EDEN</th>
        <th>TESLİM ALAN</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.FaturaID</td>
            <td>@k.FaturaSerino</td>
            <td>@k.FaturaSırano</td>
            <td>@k.VergiDairesi</td>
            <td>@k.Tarih</td>
            <td>@k.Saat</td>
            <td>@k.Toplam</td>
            <td>@k.TeslimEden</td>
            <td>@k.TeslimAlan</td>
            <td><a href="/Faturalar/FaturaGetir/@k.FaturaID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Faturalar/FaturaDetay/@k.FaturaID" class="btn btn-info">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Faturalar/FaturaEkle" class="btn btn-info">Yeni Fatura Girişi</a>
